@import 'color';

$font-size: 12px;

body {
  background-color: $background-color;
  color: $font-color;
  margin-top: 50px;
  font-size: $font-size;
  font-family: 'Cinzel', serif;
}

h1 {
  text-align: center;
  font-size: $font-size * 3;
}

div {
  margin: 0 auto;
}

@import 'bar';
@import 'square';
@import 'forms';

@media (min-width: 320px) {
  font-size: $font-size / 2;
}

@media (min-width: 500px) {
  body {
    margin-top: 45px;
  }

  .game-box {
    height: 425px;
    width: 425px;
  }

  .game-button {
    height: 38px;
    width: 405px;
  }

}

@media (min-width: 800px) {
  body {
    margin-top: 45px;
  }

  .game-box {
    height: 500px;
    width: 500px;
  }

  .game-button {
    height: 52px;
    width: 490px;
  }

}
