$background-color: #4e4e4e;
$font-color: #dfdfdf;
$div-color: #ccc;
$square-color: #999;
$border-color: #fff;

body {
  background-color: $background-color;
  color: $font-color;
  margin-top: 45px;
}

div {
  margin: 0 auto;
}

.game-box {
  background-color: $div-color;
  height: 300px;
  width: 300px;
}

.nav-bar {
  background-color: $div-color;
  height: 38px;
  margin: 25px auto;
  width: 285px;
}

.square {
  background-color: $square-color;
  float: left;
  height: 33.33333%;
  width: 33.33333%;
  border-width: 2px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.top {
  border-bottom: $border-color;
  border-bottom-style: solid;

  .left {
    clear: both;
  }
}

.left {
  border-right: $border-color;
  border-right-style: solid;
}

.right {
  border-left: $border-color;
  border-left-style: solid;
}

.h-mid {
  border-left: $border-color;
  border-left-style: solid;
  border-right: $border-color;
  border-right-style: solid;
}

.v-mid {
  border-bottom: $border-color;
  border-bottom-style: solid;
  border-top: $border-color;
  border-top-style: solid;
}

.bottom {
  border-top: $border-color;
  border-top-style: solid;
}




@media (min-width: 500px) {
  .game-box {
    height: 425px;
    width: 425px;
  }

  .nav-bar {
    height: 45px;
    width: 405px;
  }

}

@media (min-width: 800px) {
  .game-box {
    height: 500px;
    width: 500px;
  }

  .nav-bar {
    height: 52px;
    width: 490px;
  }

}
