.game-box {
  margin: 0 auto;
  background-color: $div-color;
  height: 335px;
  width: 335px;
}

.square {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: $square-color;
  border-width: 2px;
  box-sizing: border-box;
  float: left;
  font-size: $font-size * 4;
  height: 33.33333%;
  text-align: center;
  padding-top: 18px;
  width: 33.33333%;
  transition: background-color .25s;
}

.square:hover {
  background-color: shade($square-color, 10%);
}

.top {
  border-bottom: $border-color;
  border-bottom-style: solid;

  .left {
    clear: both;
    border-top-left-radius: 20px;
  }
}

.left {
  border-right: $border-color;
  border-right-style: solid;
}

.right {
  border-left: $border-color;
  border-left-style: solid;
}

.h-mid {
  border-left: $border-color;
  border-left-style: solid;
  border-right: $border-color;
  border-right-style: solid;
}

.v-mid {
  border-bottom: $border-color;
  border-bottom-style: solid;
  border-top: $border-color;
  border-top-style: solid;
}

.bottom {
  border-top: $border-color;
  border-top-style: solid;
}
